<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>DO WITH Admin Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="calendar-clear-outline"></ion-icon></span>
                        <span class="title">DO WITH</span>
                    </a>
                </li>
                <li>
                    <a href="/admin">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/user">
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                        <span class="title">회원 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/qna">
                        <span class="icon"><ion-icon name="help-circle-outline"></ion-icon></span>
                        <span class="title">문의사항</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/logout" onclick='if(confirm("로그아웃 하시겠습니까?")==false){return false}'>
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">로그아웃</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 메인 콘텐츠 -->
        <div class="main-content">
            <main class="detail-container">
                <%- include(body) %>
            </main>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>