<h2>DO WITH 현황</h2>
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers"><%= count %></div>
            <div class="cardName">이용자 수</div>
        </div>
        <div class="iconBx">
            <ion-icon name="stats-chart-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers"><%= non_replied %></div>
            <div class="cardName">문의 미답변 수</div>
        </div>
        <div class="iconBx">
            <ion-icon name="information-circle-outline"></ion-icon>
        </div>
    </div>
</div>