:root {
    --purple: #a58ae8;
    --lightpurple: #ded9e6;
    --deeppurple: #6b4bbb;
    --white: #fff;
    --grey: #999;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--lightpurple);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.login-container {
    background: var(--white);
    padding: 60px; /* 패딩 추가 */
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 500px; /* 가로 크기 증가 */
    text-align: center;
}

.login-container h1 {
    font-size: 3em; /* 텍스트 크기 증가 */
    color: var(--purple);
    margin-bottom: 30px;
    font-weight: 700;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-container input {
    padding: 15px; /* 입력 필드 크기 증가 */
    font-size: 1.2em; /* 폰트 크기 증가 */
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    background: #f9f9f9;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

.login-container input:focus {
    border-color: var(--purple);
    box-shadow: 0 0 8px rgba(112, 40, 255, 0.3);
    background: var(--white);
}

.login-container button {
    padding: 15px; 
    font-size: 1.2em; 
    font-weight: bold;
    color: var(--white);
    background: var(--purple);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-container button:hover {
    background: var(--deeppurple);
    transform: translateY(-2px);
}

.login-container button:active {
    transform: translateY(0);
}

.login-container .slogan {
    margin-top: 15px;
    font-size: 1em; /* 텍스트 크기 증가 */
    color: #666;
}

.login-container .slogan a {
    color: var(--grey);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}